/* Reset some default styles */
body {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none; /* Remove underlines */
}
/* Overall container styles */
.homepage-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

/* Header styles */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background-color: #65327e;
  color: white;
  padding: 10px 20px;
}

.header .logo img {
  max-width: 100px; /* Adjust the size as needed */
}

.header .logout-button button {
  background-color: #f44336;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
}

/* Horizontal Line */
.horizontal-line {
  width: 100%;
  border: 1px solid #ccc;
  margin-top: 10px;
}

/* Menu styles */
.menu {
  margin-top: 20px;
  margin-left: -1094px;
}

.menu ul {
  list-style: none;
  padding: 0;
}

.menu li {
  font-size: 18px;
  margin-bottom: 10px;
  cursor: pointer;
  transition: color 0.3s;
  background-color: rgba(78, 88, 99, 0.2);
  border-radius: 10px;
  padding: 10px;
  text-align: center;
  text-decoration: none;
}

.menu li:hover {
  color: #007bff; /* Change to your preferred hover color */
}

/* Watermark */
.watermark {
  position: center;
  bottom: 0;
  right: 0;
  opacity: 0.2; /* Adjust the opacity as needed */
  z-index: -1;
}

.watermark img {
  max-width: 200px; /* Adjust the size as needed */
}
