.slider-container {
  position: relative;
  width: 100%;
  height: auto;
  overflow: hidden;
}

.banner-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 80px;
  cursor: pointer;
  color: rgb(143, 141, 138);
  text-shadow: rgb(46, 40, 40);
  filter: drop-shadow(2px 2px 5px rgba(0, 0, 0, 0.5));
}

.banner-left {
  left: 10px;
}

.banner-right {
  right: 10px;
}

.banner-image-container {
  display: flex;
  transition: transform 2.5s ease;
}

.banner-image {
  width: 100%;
  height: auto;
  display: none;
}

.visible {
  display: block;
}

@keyframes slide {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-100%);
  }
  50% {
    transform: translateX(-200%);
  }
  75% {
    transform: translateX(-300%);
  }
  100% {
    transform: translateX(-400%);
  }
}
