.search{
    color: purple;
    margin-bottom: 15px;
  }
  
  .searchInput{
    padding: 10px;
    font-size: medium;
    margin-bottom: 10px;
  }
  
  .find{
    color: red;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .name{
    font-size: medium;
    font-family: 'Times New Roman', Times, serif;
  }