/* Reset some default styles */
body,
div,
p,
h1,
h2,
ul,
li {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Main Container */
.dashboard-container {
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  background-color: #f2f2f2;
}

/* Header */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 20px;
  background-color: #fff;
  position: sticky;
  top: 0;
  z-index: 1;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.logo img {
  height: 50px;
}

.icons {
  display: flex;
  align-items: center;
}

.logout-icon {
  margin-right: 20px;
  cursor: pointer;
}

.support-icon {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.phone-icon {
  margin-left: 5px;
  font-size: 14px;
}

/* Horizontal Line */
.horizontal-line {
  width: 100%;
  border: 1px solid #ccc;
  margin-top: 20px;
}

/* Main Content */
.main-content {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  width: 100%;
  margin-top: 20px;
  flex-grow: 1;
}

/* Sidebar */
.sidebar {
  flex: 1;
  padding: 20px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 10px;
  margin-right: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

ul {
  list-style: none;
  padding: 0;
}

li {
  margin-bottom: 10px;
  cursor: pointer;
  font-weight: bold;
  color: #333;
}

/* Middle Content */
.middle-content {
  display: flex;
  flex-direction: column;
  flex: 2;
  flex-grow: 1;
}

.box {
  padding: 20px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 10px;
  margin-bottom: 20px;
  text-align: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Calendar */
.right-calendar {
  flex: 1;
  padding: 20px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Footer */
.footer {
  margin-top: 20px;
  text-align: center;
  color: #777;
  background-color: #fff;
  padding: 10px 0;
  box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
}
.main-content {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  width: 100%;
  margin-top: 20px;
  flex-grow: 1;

  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
